@font-face {
  font-family: Circular;
  src: url(../fonts/circular-light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url(../fonts/circular-book.woff2) format('woff2');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url(../fonts/circular-medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url(../fonts/circular-bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url(../fonts/circular-black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal
}