$color-map: (
  'primary': $primary,
  'secondary': $secondary,
  'light-bg': $light-bg
);

@each $class, $color in $color-map {
  .#{$class} { color: $color; }
}

@each $class, $color in $color-map {
  .bg-#{$class} { background-color: $color; }
}

@each $class, $color in $color-map {
  .b--#{$class} { border-color: $color; }
}
